<div id="wrapper">
    <html>
        <head>
            <title>
                Outcome Estimator
            </title>
            <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/starstyle.css')}}">
    
    
        </head>
        <body>
    
    
            <div><img src='static/stb.png' height="65" id="mainicon"></div>
            
            <div><nav>
    
                <ul class="menu">
                    <li><a href={{url_for('home')}}>Accomodation & EET</a></li>
                    <li><a href={{url_for('starindex')}}>Star score</a></li>
                    <li><a href={{url_for('report')}}>Dose response app</a></li>  
                    <li><a href={{url_for('report')}}>Summary report</a></li>
                </ul>
              </nav>
    
            </div>
    
            <!-- <center><h2>St Basil's</h2></center> -->
            <center><h2>OUTCOME ESTIMATION TOOL</h2></center>
            <br>
    
    
    
    
    
    
    
    <form action="/predictstar" method="POST" autocomplete="on">
        <table id="boxes" class="center">
    
            <tr> <!--SPLITTING TABLE INTO TWO COLUMNS: INPUTS AND OUTPUTS-->
    
    
    <!-- INPUTS COLUMN -->
    <td style="width:25%"></td>
    <td id="BIGLEFT">
    
    
        <!-- INPUT ROW -->
        <table>
        <tr>
            <td id="left">
                <label for="Age.at.Start">Age</label><br>
                <input type="number" id="Age.at.Start" name="Age.at.Start" min="0" max="120" value=0><br>
                

                <label for="med_issues">Medical issues</label><br>
                <select name="med_issues" id="med_issues" required>
                    <option style="display:none"></option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select><br>

                <label for="A1">Currently in rent arrears</label><br>
                <select name="A1" id="A1" required>
                    <option style="display:none"></option>
                    <option value=0 >Yes</option>
                    <option value=1>No</option>
                    <option value=1>Unknown</option>
                </select><br>
    
                <label for="D1">Redistered with a GP</label><br>
                <select name="D1" id="D1" required>
                    <option style="display:none"></option>
                    <option value=0>Yes</option>
                    <option value=1>No</option>
                    <option value=1>Unknown</option>
                </select><br>

                <label for="G1">Known to youth offending services</label><br>
                <select name="G1" id="G1" required>
                    <option style="display:none"></option>
                    <option value=0>Yes</option>
                    <option value=1>No</option>
                    <option value=1>Unknown</option>
                </select><br>

            </td>
    
    
            <td id="right">
    
                <label for="EET.status">EET status</label><br>
                <select name="EET.status" id="EET.status" required>
                    <option style="display:none"></option>
                    <option value="EET">EET</option>
                    <option value="NEET">NEET</option>
                    <option value="">Other</option>
                    <option value="Not Known">Unknown</option>
                </select><br>

                <label for="Area">Area</label><br>
                <select name="Area" id="Area" required>
                    <option style="display:none"></option>
                    <option value="Birmingham">Birmingham</option>
                    <option value="Coventry">Coventry</option>
                    <option value="Sandwell">Sandwell</option>
                    <option value="Solihull">Solihull</option>
                    <option value="Walsall">Walsall</option>
                    <option value="Warwickshire">Warwickshire</option>
                    <option value="Worcestershire">Worcestershire</option>
                </select><br>
        
                <label for="Scheme">Scheme</label><br>
                <select name="Scheme" id="Scheme" required>
                    <option style="display:none"></option>
                    <option value="AE" >AE</option>
                    <option value="AH" >AH</option>
                    <option value="AL" >AL</option>
                    <option value="AM" >AM</option>
                    <option value="AT" >AT</option>
                    <option value="BD" >BD</option>
                    <option value="BW" >BW</option>
                    <option value="BJ" >BJ</option>
                    <option value="CC" >CC</option>
                    <option value="CD" >CD</option>
                    <option value="fill">Other</option>
                </select><br>
    
                <label for="Time.per.Session">Time per session</label><br>
                <input type="number" id="Time.per.Session" name="Time.per.Session" min="10" max="120" value=10><br>
                
                <label for="Num.Sessions">Number of sessions</label><br>
                <input type="number" id="Num.Sessions" name="Num.Sessions" min="1" max="100" value=1><br>
    
                


            </td>
        </tr>
        </table>
    
        <!-- SLIDER ROW -->
        <center>
            <label for="avgscore">Average star score</label><br>
            <input type="number" id="mixer" name="avgscore" min="0" max="5" value=0><br>

        
    
    </center>
        <br><br>
    
        <!-- BUTTON ROW -->
        <!-- <tr id="buttondiv" class="form-group"> -->
        <center>
            <button class="button">
                <!-- <button type="submit">Predict outcomes</button> -->
                Predict outcomes
            </button>
        </center>
        <!-- </tr> -->
    
    
    </td>
    
    
    <td style="width:25%"></td>
    
    
    </tr> <!--CLOSING THE TABLE TR-->
    
    </table>
    <br>
    
    {% if showOutputStar=='yes' %}    
    
    <center><h2>ESTIMATED FINAL STAR SCORE</h2></center>

    <table>
        <td id="BIGRIGHT">
            <!-- PREDICTION TEXT ROW -->
            <center>
                <p>With the chosen number of sessions, time per session, and scheme variables, the estimated final star score is:</p>
                <br>
                <p id="star_score_estimated">{{ star_score_estimated }}</p>
            </center>
        </td>

    
    </table>    
        
            {% else %}
            {% endif %}

    </form>
    
    
    
    
    </body>
    </html>
    </div>
